body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.container {
	max-width: 1270px;
}
header {
	display: flex;
	justify-content: center;
}
header img {
	height: 45px;
	width: 50px;
}
h1 {
	text-align: center;
	color: #d04f4f;
	font-size: 38px;
	letter-spacing: 0.9px;
}
.simple-search-wrapper {
	margin-top: 20px;
	background-color: #e7e7e7;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
input.basic-search-input {
	background-color: #e7e7e7;
	height: 70px;
	padding-left: 25px;
}
input.basic-search-input::placeholder {
	font-size: 18px;
	font-weight: 100;
}
.simple-search-wrapper img {
	height: 30px;
	width: 60px;
	padding: 0 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tags-wrapper {
	margin-top: 30px;
}
.tags {
	max-width: fit-content;
	padding-top: 5px;
	padding-bottom: 5px;
}
.tags.ingredient {
	background-color: #3282f7;
	color: white;
	border-radius: 5px;
	padding: 6px 20px;
	font-size: 13px;
}
.tags.ingredient button {
	margin-left: 15px;
	margin-top: -5px;
}

.tags-wrapper span {
	font-size: 1.1rem;
}
.option-wrappers {
	margin-top: 18px;
	display: flex;
	flex-direction: row;
	gap: 7px;
}
.ingredient-search,
.appareils-search,
.ustensiles-search {
	max-width: max-content;
}
.ingredient-search button,
.appareils-search button,
.ustensiles-search button {
	padding: 20px 15px;
	font-size: 18px;
	min-width: 170px;
}
.ingredient-search button img,
.appareils-search button img,
.ustensiles-search button img {
	margin-left: 27px;
	margin-top: -3px;
}
ul#dropdown-menu {
	color: white;
	border-radius: 5px;
}
ul#dropdown-menu {
	background-color: #3282f7 !important;
	top: -43px !important;
	left: -5px !important;
	list-style-type: none;
	display: none;
	padding-left: 0;
}
.search-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	padding-right: 10px;
}
.search-bar input,
.search-bar input:focus,
.search-bar input::placeholder {
	color: white;
}
.search-bar input::placeholder {
	opacity: 0.5;
}
.search-bar i.fa.fa-chevron-up {
	color: white;
}
#icon-ingre-close {
	cursor: pointer;
}
.dropdown-col {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	padding-bottom: 15px;
	flex-wrap: wrap;
}
.dropdown-item {
	padding-left: 15px;
	font-weight: 200;
	font-size: 16px;
}
.dropdown-item:hover,
.dropdown-item:focus {
	background-color: #235fb9 !important;
}
button.btn-success {
	background-color: #68d9a4;
	border: none;
}
ul#dropdown-menu.appareils {
	background-color: #68d9a4 !important;
}
.dropdown-item.appareils:hover,
.dropdown-item.appareils:focus {
	background-color: #4fa67d !important;
}
button.btn-danger {
	background-color: #ed6454;
	border: none;
}
ul#dropdown-menu.ustensiles {
	background-color: #ed6454 !important;
}
.dropdown-item.ustensiles:hover,
.dropdown-item.ustensiles:focus {
	background-color: #d1584b !important;
}
main {
	margin-top: 25px;
}
main.container {
	padding: 0;
}
/* .article-list {
  gap: 50px;
} */
.article-list {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: 1fr;
	grid-template-rows: repeat(3, 1fr);
	gap: 45px;
	height: 100%;
}
.article-list article {
	height: inherit;
}
.article-list article .card {
	background-color: #e7e7e7;
	height: inherit;
	overflow: hidden;
}
.article-list article .card img.card-img-top {
	height: 175px;
}
.card-title-wrapper {
	display: flex;
	justify-content: space-between;
}
.card-title {
	font-weight: 400;
	font-size: 18px;
}
.time-cook {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	min-width: 85px;
}
.time-cook img {
	height: 20px;
	width: 20px;
	margin-bottom: 16px;
}
.time-cook p {
	font-weight: 700;
	font-size: 18px;
}
.card-description {
	margin-top: 5px;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	row-gap: 15px;
}
.card-description p {
	font-size: 12px;
}
.list-ingredient {
	border-radius: 5px;
	display: block;
	max-width: inherit;
}
.list-ingredient p {
	font-size: 12px;
	margin-bottom: 3px;
}

span.ingredient-name {
	font-weight: 700;
	font-size: 12px;
}
.card-text {
	font-size: 12px;
	font-weight: 400;
}
/* .ingre-item-wrapper {
	display: block ruby;
} */
/* 
@media screen and (min-width: 768px) {
  .article-list article:nth-child(2n + 1) {
    padding-left: 0;
  }
  .article-list article:nth-child(2n) {
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .article-list article:nth-child(3n + 1) {
    padding-left: 0;
  }
  .article-list article:nth-child(3n + 2) {
    padding-right: 15px;
  }
  .article-list article:nth-child(3n) {
    padding-right: 0;
    padding-left: 15px;
  }
} */
@media screen and (min-width: 768px) {
	.article-list {
		grid-template-columns: repeat(2, 1fr);
	}
	.dropdown-col {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (min-width: 1200px) {
	.article-list {
		grid-template-columns: repeat(3, 1fr);
	}
	.dropdown-col {
		grid-template-columns: repeat(3, 1fr);
	}
	.card-description {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 0;
		column-gap: 10px;
	}
}
